<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.everlook.myweb.persistence.dao.system.rbac.user.CommSysUserMapper">
  <resultMap id="BaseResultMap" type="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUser">
    <id column="ID" property="id" jdbcType="INTEGER"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
    <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
    <result column="SEX" property="sex" jdbcType="INTEGER"/>
    <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    <result column="PWD" property="pwd" jdbcType="VARCHAR"/>
    <result column="HIRE_DATE" property="hireDate" jdbcType="TIMESTAMP"/>
    <result column="MGR" property="mgr" jdbcType="INTEGER"/>
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER"/>
    <result column="AVAILABLE" property="available" jdbcType="INTEGER"/>
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER"/>
    <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="INTEGER"/>
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR"/>
    <result column="IS_SYSTEM" property="isSystem" jdbcType="INTEGER"/>
    <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    <result column="TEL" property="tel" jdbcType="VARCHAR"/>
    <result column="POSITION" property="position" jdbcType="INTEGER"/>
    <result column="BIRTH_DATE" property="birthDate" jdbcType="TIMESTAMP"/>
  </resultMap>
  <resultMap id="BaseResultMap2" type="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUser">
    <id column="ID" property="id" jdbcType="INTEGER"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
    <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
    <result column="SEX" property="sex" jdbcType="INTEGER"/>
    <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    <result column="PWD" property="pwd" jdbcType="VARCHAR"/>
    <result column="HIRE_DATE" property="hireDate" jdbcType="TIMESTAMP"/>
    <result column="MGR" property="mgr" jdbcType="INTEGER"/>
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER"/>
    <result column="AVAILABLE" property="available" jdbcType="INTEGER"/>
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER"/>
    <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="INTEGER"/>
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR"/>
    <result column="IS_SYSTEM" property="isSystem" jdbcType="INTEGER"/>
    <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    <result column="TEL" property="tel" jdbcType="VARCHAR"/>
    <result column="POSITION" property="position" jdbcType="INTEGER"/>
    <result column="BIRTH_DATE" property="birthDate" jdbcType="TIMESTAMP"/>
    <result column="LEADER_NAME" property="leaderName" jdbcType="VARCHAR"/>
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, LOGIN_NAME, ADDRESS, SEX, REMARK, PWD, HIRE_DATE, MGR, DEPT_ID, AVAILABLE,
    ORDER_NUM, ATTACHMENT_ID, USER_NO, IS_SYSTEM, PHONE, TEL, POSITION, BIRTH_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap"
          parameterType="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUserExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from comm_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from comm_sys_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comm_sys_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUserExample">
    delete from comm_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUser">
    insert into comm_sys_user (ID, NAME, LOGIN_NAME,
      ADDRESS, SEX, REMARK,
      PWD, HIRE_DATE, MGR,
      DEPT_ID, AVAILABLE, ORDER_NUM,
      ATTACHMENT_ID, USER_NO, IS_SYSTEM,
      PHONE, TEL, POSITION,
      BIRTH_DATE)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{pwd,jdbcType=VARCHAR}, #{hireDate,jdbcType=TIMESTAMP}, #{mgr,jdbcType=INTEGER},
      #{deptId,jdbcType=INTEGER}, #{available,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER},
      #{attachmentId,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{isSystem,jdbcType=INTEGER},
      #{phone,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{position,jdbcType=INTEGER},
      #{birthDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUser">
    insert into comm_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
      <if test="hireDate != null">
        HIRE_DATE,
      </if>
      <if test="mgr != null">
        MGR,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="available != null">
        AVAILABLE,
      </if>
      <if test="orderNum != null">
        ORDER_NUM,
      </if>
      <if test="attachmentId != null">
        ATTACHMENT_ID,
      </if>
      <if test="userNo != null">
        USER_NO,
      </if>
      <if test="isSystem != null">
        IS_SYSTEM,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="birthDate != null">
        BIRTH_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="hireDate != null">
        #{hireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgr != null">
        #{mgr,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="available != null">
        #{available,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="attachmentId != null">
        #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null">
        #{isSystem,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=INTEGER},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUserExample"
          resultType="java.lang.Integer">
    select count(*) from comm_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comm_sys_user
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null">
        LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null">
        PWD = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.hireDate != null">
        HIRE_DATE = #{record.hireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mgr != null">
        MGR = #{record.mgr,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.available != null">
        AVAILABLE = #{record.available,jdbcType=INTEGER},
      </if>
      <if test="record.orderNum != null">
        ORDER_NUM = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.attachmentId != null">
        ATTACHMENT_ID = #{record.attachmentId,jdbcType=INTEGER},
      </if>
      <if test="record.userNo != null">
        USER_NO = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.isSystem != null">
        IS_SYSTEM = #{record.isSystem,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null">
        POSITION = #{record.position,jdbcType=INTEGER},
      </if>
      <if test="record.birthDate != null">
        BIRTH_DATE = #{record.birthDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comm_sys_user
    set ID = #{record.id,jdbcType=INTEGER},
    NAME = #{record.name,jdbcType=VARCHAR},
    LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
    ADDRESS = #{record.address,jdbcType=VARCHAR},
    SEX = #{record.sex,jdbcType=INTEGER},
    REMARK = #{record.remark,jdbcType=VARCHAR},
    PWD = #{record.pwd,jdbcType=VARCHAR},
    HIRE_DATE = #{record.hireDate,jdbcType=TIMESTAMP},
    MGR = #{record.mgr,jdbcType=INTEGER},
    DEPT_ID = #{record.deptId,jdbcType=INTEGER},
    AVAILABLE = #{record.available,jdbcType=INTEGER},
    ORDER_NUM = #{record.orderNum,jdbcType=INTEGER},
    ATTACHMENT_ID = #{record.attachmentId,jdbcType=INTEGER},
    USER_NO = #{record.userNo,jdbcType=VARCHAR},
    IS_SYSTEM = #{record.isSystem,jdbcType=INTEGER},
    PHONE = #{record.phone,jdbcType=VARCHAR},
    TEL = #{record.tel,jdbcType=VARCHAR},
    POSITION = #{record.position,jdbcType=INTEGER},
    BIRTH_DATE = #{record.birthDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUser">
    update comm_sys_user
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="hireDate != null">
        HIRE_DATE = #{hireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgr != null">
        MGR = #{mgr,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="available != null">
        AVAILABLE = #{available,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="attachmentId != null">
        ATTACHMENT_ID = #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        USER_NO = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null">
        IS_SYSTEM = #{isSystem,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=INTEGER},
      </if>
      <if test="birthDate != null">
        BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUser">
    update comm_sys_user
    set NAME = #{name,jdbcType=VARCHAR},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR},
      HIRE_DATE = #{hireDate,jdbcType=TIMESTAMP},
      MGR = #{mgr,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      AVAILABLE = #{available,jdbcType=INTEGER},
      ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      ATTACHMENT_ID = #{attachmentId,jdbcType=INTEGER},
      USER_NO = #{userNo,jdbcType=VARCHAR},
      IS_SYSTEM = #{isSystem,jdbcType=INTEGER},
      PHONE = #{phone,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=INTEGER},
      BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <!--CommSysUser queryUserByLoginName(String loginName);-->
  <!--//    根据登录名查用户-->
  <select id="queryUserByLoginName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from comm_sys_user
    where LOGIN_NAME = #{value}
  </select>

  <!--WHERE t1.IS_SYSTEM = 0-->
  <select id="queryAllUsers" resultMap="BaseResultMap2"
          parameterType="cn.everlook.myweb.persistence.entity.assort.rbac.user.CommSysUser">
    SELECT t3.*,t4.name as deptName from
    (SELECT t1.*,t2.name as LEADERNAME FROM comm_sys_user t1 left join comm_sys_user t2 on (t1.MGR = t2.id)
    ORDER BY t1.ID asc)t3
    inner join comm_sys_dept t4 on (t3.DEPT_ID = t4.ID)
    <where>
      <if test="name!=null">
        and t3.NAME like concat("%",#{name},"%")
      </if>
      <if test="address!=null">
        and t3.ADDRESS like concat("%",#{address},"%")
      </if>
      <if test="remark!=null">
        and t3.REMARK like concat("%",#{remark},"%")
      </if>
      <if test="deptId!=null">
        and t3.DEPT_ID = #{deptId}
      </if>
      <if test="loginName!=null">
        and t3.LOGIN_NAME like concat("%",#{loginName},"%")
      </if>
    </where>
    order by t3.ORDER_NUM
  </select>


  <select id="loadAllUserByDeptId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from comm_sys_user
    where DEPT_ID = #{value}
  </select>


  <insert id="addRolesToUser">
    insert into comm_sys_user_role (uid, rid)
    values (#{param1}, #{param2})
  </insert>

  <delete id="deleteUserRoleByUserId">
    delete from comm_sys_user_role where uid=#{value}
  </delete>



</mapper>